.details {
    width: 100%;
    display: flex;
    justify-content: center;
}

.detailsWrapper {
    padding: 4rem 0px;
    width: 100%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}