.hero {
    background-color: #FFB2BB;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    padding: 0 20px;
    font-size: 1.5rem;
    line-height: 1.5;

    border: 1px solid #ccc;
}

.hero-img-container {
    width: 50%;
}

.hero-img-container img {
    width: 100%;

}

.search-wrapper {
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 25px;
    padding: 8px 10px;
}

.search-wrapper input {
    width: 100%;
    border: none;
    padding: 12px;
    outline: none;
}

.search-wrapper i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF2B85;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: white;
}