.aboutSection {
    display: flex;
    padding: 2.5rem;
    line-height: 1.5;
    background-color: #EFF2F4;
    justify-content: space-around;
    width: 100%;
}

.aboutSection img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.about-content {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;

}