.post-section {
  border-radius: 25px;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.post-section-wrapper{
  display: flex;
  max-width: 1200px;
  width: 100%;
}
.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  border-radius: 25px;
  border: 1px solid rgb(192, 191, 191);
}

.post-img-container {
  width: 100%;
}


.post-img-container img {
  position: relative;
  filter: brightness(50%);
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.post-img-container p {
  position: absolute;
  z-index: 1;
  color: white;
  padding: 12px;
}

.post-lower-container {
  padding: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.post-lower-container-text {
  flex-grow: 1;
}

.post-lower-container-text :nth-child(1) {
  color: #FF2B85;
}

.post-lower-container-text :nth-child(2) {
  font-size: 1.5rem;
}

.post-lower-container button {
  align-self: flex-end;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;

  &:hover {
    background-color: #FF2B85;
    cursor: pointer;
    color: white;
  }
}