header {
    padding: 20px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

header nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}



.saved-job{
    display: flex;
    color: #ff2b90;
}