.aboutSection {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #EFF2F4;

}

.aboutSectionWrapper {
    width: 100%;
    max-width: 90%;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
align-items: center;
}

.about-section-imgCont {
    width: 100%;
    flex: 1;
}

.aboutSection .about-section-imgCont img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
}

.about-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;

}