.aboutSection {
    display: flex;
    padding: 2.5rem;
    line-height: 1.5;
    background-color: #EFF2F4;
    justify-content: space-between;
    width: 100%;
}

.about-section-imgCont {
    width: 100%;
    flex: 1;
}

.aboutSection .about-section-imgCont img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
}

.about-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;

}