footer {
  background-color: #000000;
  color: white;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.upper-footer {
  display: flex;
  justify-content: space-between;
}