* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section {
  margin: 20px 0px;
}

.details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}






.foodpanda-icon {
  width: 80px;
  height: 80px;
  border: 1px solid #FF2B85;
  border-radius: 50%;
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodpanda-icon img {
  width: 60px;
}



