* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section {
  margin: 20px 0px;
}

.details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}



.cards {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:nth-child(1) {
  transform: translateY(0px);
}

.card:nth-child(2) {
  transform: translateY(50px);
}

.card:nth-child(3) {
  transform: translateY(100px);
}

.card:nth-child(4) {
  transform: translateY(150px);
}

.card h1 {
  font-size: 3rem;

}

.card p {
  font-size: 1.3rem;
}

.card {
  width: 180px;
  height: 200px;
  border-radius: 20px;
  border: 2px solid #fff;
  box-shadow: 0 0 0 4px (rgba(255, 255, 255, 0.6));
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;

}

.vacancy {
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.vacancy h1 {
  color: #FF2B85;

}

.vacancy-cards {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  gap: 20px;
}

.vacancy-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  padding: 12px 15px;
  border: 1px solid #FF2B85;
  border-radius: 12px;
  position: relative;
}

i {
  color: #FF2B85;
}

.vacancy-card .abc {
  align-self: flex-end;
  /* position: absolute; */
  /* right: 10px; */
  color: #FF2B85;
  /* top: 80px; */
}

.vacancy-card-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  height: 250px;

}

.post-section {
  border-radius: 25px;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.foodpanda-icon {
  width: 80px;
  height: 80px;
  border: 1px solid #FF2B85;
  border-radius: 50%;
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodpanda-icon img {
  width: 60px;
}

.posts {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  gap: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  border-radius: 25px;
}

.post-img-container {
  width: 100%;
}

.post-img-container img {
  position: relative;
  filter: brightness(50%);
  width: 100%;
}

.post-img-container p {
  position: absolute;
  z-index: 1;
  color: white;
  padding: 12px;
}

.post-lower-container {
  padding: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.post-lower-container-text {
  flex-grow: 1;
}

.post-lower-container-text :nth-child(1) {
  color: #FF2B85;
}

.post-lower-container-text :nth-child(2) {
  font-size: 1.5rem;
}

.post-lower-container button {
  align-self: flex-end;
  padding: 12px 24px;
  border: none;

}

footer {
  background-color: #000000;
  color: white;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.upper-footer {
  display: flex;
  justify-content: space-between;
}