* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}




.btn {
    padding: 12px 24px;
    background-color: #FF2B85;
    color: white;
    border: none;
    border-radius: 25px;
}
