.hero {
    background-color: #FFB2BB;
    width: 100%;
    display: flex;
    justify-content: center;
}

.heroWrapper {
    width: 100%;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;


    font-size: 1.5rem;
    line-height: 1.5;

    border: 1px solid #ccc;
}

.hero-img-container {
    flex: 1;
}

.hero-img-container img {
    width: 100%;

}

.search-wrapper {
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 25px;
    padding: 8px 10px;
}

.search-wrapper input {
    width: 100%;
    border: none;
    padding: 12px;
    outline: none;
}


.searchWrapperIcon {

    background-color: #FF2B85;

    padding: 8px;
    clip-path: circle(50%);
    color: white;
}